 <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="toggle-menu">
            <i class="icon ion-navicon">
              
            </i>
          </div>
          <div class="logo">
            <a 
            href="{{ site.baseurl }}/" 
            class="text-center">
            {{ site.title }}
            </a>
          </div>
        </div>
      
      <div class="overlay">
          </div>

        <div class="col-lg-7 col-lg-push-2 col-md-7 col-md-push-2 col-sm-9">
          <nav class="menu">

            <div class="btn-close">
              <i class="icon close ion-close-round">
              </i>
            </div>

            <ul>
            {% for nav_item in site.data.nav %}
              <li>
                <a href="{{nav_item.link}}">
                <i class="icon {{nav_item.icon}}"></i>
                {{nav_item.name}}
                </a>
              </li>
              {% endfor %}




<!--               <li>
                <a href="#">
                <i class="icon ion-ios-albums-outline"></i>
                Portofolio
                </a>
              </li>
              <li>
                <a href="#">
                <i class="icon ion-erlenmeyer-flask"></i>
                Experiment
                </a>
              </li>
              <li>
                <a href="#">
                <i class="icon ion-ios-person-outline"></i>
                  About
                </a>
              </li> -->
            </ul>

            <div class="caption">
                <i class="icon ion-chevron-up"></i>


                <span>
                  Tekan Close (x) Untuk Menutup
                </span>
            </div>
          </nav>
        </div><!-- col-lg-7 -->
      </div><!-- row -->
    </div><!-- container -->
  </header>