<!DOCTYPE html>
<html>

  {% include head.html %}



  <body>

    {% include header.html %}


        {{ content }}






    <script>
      window.___gcfg = {
        lang: 'en-US',
        parsetags: 'onload'
      };
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/script.js"></script>
    <script>

var cb = function() {
  var l = document.createElement('link'); l.rel = 'stylesheet';
  l.href = 'small.css';
  var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
    </script>
  </body>

</html>
