---
layout: default
---

<div class="background-image" id="back" style="display:none">
	<h3>
		- By Bagus Mantonafi -
	</h3>
</div>

<div class="content" id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-push-1">
				<div class="single">
					<div class="post-card">



						<h1>
							{{ page.title }}
						</h1>

						
						{% if page.image %}

						<img class="img-fit" src="{{ page.image }}" alt="">

						{% endif %}


						<p class="meta-author">
							<i class="icon ion-calendar"></i>
								{{ page.date | date: "%b %-d, %Y" }}
							<span>|</span>


							{% if page.author %}
							<a href="#">
								{{ page.author }}
							</a>
							<span>|</span>

							{% endif %}

							{{ page.categories }}
						</p>



						{{content}}

						<h4>Happy Coding!</h4>



					<div class="division">

						 <div class="g-plus" data-action="share" data-annotation="bubble"></div>



						<a href="https://twitter.com/share"
							class="twitter-share-button"{count}>
						</a>

						<script>
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
						</script>


						<!--
						<div
						  class="fb-like"
						  data-share="true"
						  data-width="450"
						  data-show-faces="true">
						</div>


						<script>
  						window.fbAsyncInit = function() {
						    FB.init({
						      appId      : '148779352157076',
						      xfbml      : true,
						      version    : 'v2.5'
						    });
						  };

						  (function(d, s, id){
						     var js, fjs = d.getElementsByTagName(s)[0];
						     if (d.getElementById(id)) {return;}
						     js = d.createElement(s); js.id = id;
						     js.src = "//connect.facebook.net/en_US/sdk.js";
						     fjs.parentNode.insertBefore(js, fjs);
						   }(document, 'script', 'facebook-jssdk'));


							FB.ui(
							  {
							    method: 'share',
							    href: 'https://developers.facebook.com/docs/',
							  },
							  // callback
							  function(response) {
							    if (response && !response.error_message) {
							      alert('Posting completed.');
							    } else {
							      alert('Error while posting.');
							    }
							  }
							);

						</script>

 -->


						</div>
						<hr class="sekat-komentar">


						{% include comment.html%}

					</div><!-- post-card -->
				</div><!--single -->
			</div><!-- col-8 -->
		</div>


		<div class="row">
			<div class="col-lg-10 col-lg-push-1">
			<div class="division">
				{% include sidebar_tags.html %}
			</div>


				<div class="categories">
					<h1>
						<i class="icon ion-ios-paper-outline"></i>
						Categories
					</h1>

					<ul>
						<li>
							<a href="#">
								Linux
							</a>
						</li>

						<li>
							<a href="#">
								NodeJS
							</a>
						</li>

						<li>
							<a href="#">
								Ionic
							</a>
						</li>

						<li>
							<a href="#">
								AngularJS
							</a>
						</li>
						<li>
							<a href="#">
								MonggoDB
							</a>
						</li>
					</ul>
				</div><!-- categories -->

				<div class="division">
					{% include related_posts.html %}
				</div>
			</div><!-- col -4 -->
		</div><!-- row -->
	</div><!-- container -->
</div><!-- content -->


{% if page.next %}
<div class="nextpost">
	<a href="{{ page.next.url }}" target="_blank">
		Selanjutnya - {{page.next.title}}
		<i class="icon ion-chevron-right"></i>
	</a>
</div>

{% endif %}
