---
layout: default
---

<div class="background-image" id="back" style="display:none">
	<h1>Ilmu itu harus dimengerti bukan dihafal</h1>
	<h3> 
		- By Bagus Mantonafi -
	</h3>
</div>

<div class="content" id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">	
				<div class="single">
					<div class="post-card">
						
						{% if page.image %}

						<img class="img-fit" src="{{ page.image }}" alt="">

						{% endif %}

						<h2>
							{{ page.title }}
						</h2>

						<p class="meta-author">
							<i class="icon ion-calendar"></i>
								{{ page.date | date: "%b %-d, %Y" }}
							<span>|</span>
							

							{% if page.author %}
							<a href="#">
								{{ page.author }}
							</a>
							<span>|</span>

							{% endif %}

							{{ page.categories }}
						</p>

						
						
						{{content}}

					</div><!-- post-card -->
				</div><!--single -->
			</div><!-- col-8 -->

			<div class="col-lg-4">
				
				{% include sidebar_tags.html %}


				<div class="categories">
					<h1>
						<i class="icon ion-ios-paper-outline"></i>
						Categories
					</h1>

					<ul>
						<li>
							<a href="#">
								Linux			
							</a>
						</li>

						<li>
							<a href="#">
								NodeJS
							</a>
						</li>

						<li>
							<a href="#">
								Ionic
							</a>
						</li>

						<li>
							<a href="#">
								AngularJS
							</a>
						</li>
						<li>
							<a href="#">
								MonggoDB
							</a>
						</li>
					</ul>
				</div><!-- categories -->
			</div><!-- col -4 -->
		</div><!-- row -->
	</div><!-- container -->
</div><!-- content -->
